{% extends "home/base.html" %}


{% block content %}
<div class="list-group">
    {% for plan in plans %}
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>

            <h4 class="list-group-item-heading">{{plan}}</h4>
            <p class="list-group-item-text">
                {{ plan.creation_date }} –
                {{ plan.get_nutritional_values.total.energy|floatformat }} 
            </p>
        </a>
    {% empty %}
        <button onclick="add_plan()">Add new plan</button>
        </a>
    {% endfor %}
</div>
{% endblock %}




