{% extends 'home/base.html' %}

{% block body_block %}

<ul class="list-group">
{% for food in user_food %}
    <li class="list-group-item">
        {{ food }}
        <br>
        <button class="btn btn-dark">{{ food.user_calories}}</button> Calories
        <button class="btn btn-dark">{{food.user_carbs}}</button> Carbs
        <button class="btn btn-dark">{{food.user_fat}} </button>Fat
        <button class="btn btn-dark">{{food.user_protein}}</button> Protein
    </li>
    
{% endfor %}


</ul>
ō{% endblock %}